

body {   
    background-color: #888;
}

.header {
    width: 100vw;
    height: 200px;
    background-color: orangered;

}

.title {
    margin: 0;
    font-size: 4em;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 45px;
}

.seccion--principal {
    width:60%;
    height: 150px;
    margin: auto;
    
    background-color: #333;
}

.parrafo--principal {
    margin-top: 0;
    padding: 25px 50px;
    color: white; 
    font-size: 1.5em;
    text-align: justify;
}
.seccion--secundaria {
    width:60%;
    height: 100px;
    margin: auto;   
    background-color: #777;
}

.parrafo--secundario {
    margin-top: 0;
    padding: 25px 50px;
    color: white; 
    font-size: 1em;
    text-align: justify;
}